body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
}

button.page-header {
  border: 0px;
  background-color: transparent;
  box-sizing: border-box;
}

button.page-header:hover {
  border-bottom: 1px solid rgb(11.05, 93.5, 215.05);
  margin-bottom: -1px;
}

button.page-header:active,
button.page-header[active] {
  border-bottom: 3px solid #0d6efd;
  margin-bottom: -3px;
}

form:not([active]) {
  display: none !important;
}

.fs-8 {
  font-size: 0.75rem !important;
}
