* {
    box-sizing: border-box;
}

.outline {
    outline: 2px solid red;
}

body {
    display: grid;

    position: relative;

    grid-template-rows: 4rem 1fr 30px;

    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#SiteHeader {
    display: grid;
    grid-template-columns: 10rem 20rem 1fr;
    grid-row: 1;
}

#SiteHeader\.Logo {
    grid-column: 1;
}

#SiteHeader\.Library {
    grid-column: 2;
}

#StatusBar {
    grid-row: 3;
}
